volumes:
  db:

services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=hexagonal'
      - 'POSTGRES_PASSWORD=root'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5432:5432'
    volumes:
      - db:/var/lib/postgresql/data